fastapi
uvicorn[standard]
pymongo
email-validator
python-dotenv
pydantic
bcrypt==4.0.1
python-jose
passlib==1.7.4
firebase-admin
# ML dependencies
scikit-learn==1.6.1
joblib
numpy
pandas
pyproj
gdown
requests
tqdm
python-multipart
# Optional dependencies for additional features