fastapi
uvicorn[standard]
pymongo
email-validator
python-dotenv
pydantic
bcrypt
python-jose
passlib[bcrypt]
firebase-admin
# ML dependencies
scikit-learn==1.6.1
joblib
numpy
pandas
pyproj
gdown
requests
tqdm
python-multipart
# Optional dependencies for additional features