fastapi
uvicorn[standard]
pymongo
email-validator
python-dotenv
pydantic
bcrypt
python-jose
passlib[bcrypt]
# ML dependencies
scikit-learn
joblib
numpy
pandas
pyproj
gdown
requests
tqdm
# Optional dependencies for additional features